RewriteEngine On
RewriteCond %{HTTP_HOST} ^swifter.pl$ [NC]
RewriteRule ^(.*)$ https://www.swifter.pl/$1 [R=301]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

Header set Access-Control-Allow-Origin "*"

Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token,application/xml"
