RewriteEngine On
RewriteCond %{HTTP_HOST} ^swifter.pl$ [NC]
RewriteRule ^(.*)$ https://www.piotr-majewski.net.pl/$1 [R=301]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

